DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/pnd_support?schema=public"
JWT_SECRET="your-jwt-secret-min-32-chars-here"
JWT_REFRESH_SECRET="your-refresh-secret-min-32-chars-here"
PORT=3000
NODE_ENV=development
CORS_ORIGIN="*"
